.loader-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  /* TÍTULO: entra desde abajo y se queda fijo */
  .loader-title {
   
    font-size: 48px;
    letter-spacing: 4px;
    margin: 0 0 24px 0;
    color: white;

    /* estado inicial */
    opacity: 0;
    transform: translateY(40px);
  
    /* animación */
    animation-name: titleEnter;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;  
  }
  
  @keyframes titleEnter {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .loader-bar {
    width: 300px;
    height: 20px;
    background: #2f313a;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #1f1f1f;
  }
  
  /* barra que se llena */
  .loader-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(
      90deg,
      #f4f7f5,
      #9b9998,
      #000000
    );
    border-radius: 12px;
    animation-name: fillLoader;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.9s; /* arranca después de que entra el título */
  }
  
  @keyframes fillLoader {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  