.language-container {
  position: fixed;
  top: 0;
  margin-top: 30px;
  z-index: 1000;
  width: 50%;
}

.language-btn {
  color: #00ff4c;
  background-color: black;
  border-color: #00ff4c;
  width: 50px;
  height: 50px;
}
