.portfolio-container {
    width: 100%;
    min-height: 100vh; /*una pantalla minimo*/
    height: auto; /*puede crecer lo que quiera*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
